{% extends 'teacher.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<style>
/* 包裹section项的导航容器 */
.section-nav {
    background-color: #F2F3F5;  /* 设置背景颜色 */
    padding: 10px;  /* 内边距 */
    /* 其他需要的样式 */
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.5), -5px 0 5px -5px rgba(0,0,0,0.5);
    width: 25%;
    min-width: 200px;
    overflow-y: hidden;
}

.pin-code-display {
    padding: 10px;
    margin-bottom: 10px; /* 与下方section项的间隔 */
    border-bottom: 2px solid black; /* 加粗的分隔线 */
    background-color: #F2F3F5; /* 背景颜色 */
    text-align: left;
    font-weight: bold; /* 加粗字体显示pin code */
    font-size: 1.2em; /* 字体放大 */
}
.section-block {
    height: calc(100vh - 58px - 116px);
    overflow-x: hidden;
    overflow-y: auto;

}
.section-block::-webkit-scrollbar {
    width: 5px;

}

.section-item {
    display: block;  /* 让<a>标签表现得像块级元素 */
    padding: 10px;
    margin: 5px 0; /* 项与项之间的间隔 */
    text-decoration: none;  /* 去除下划线 */
    font-weight: bold;
    font-size: 1.1em; /* 字体放大 */
    color: #000000;  /* 文本颜色 */
    border-radius: 4px;  /* 圆角边框 */
    transition: background-color 0.3s, box-shadow 0.3s;  /* 平滑背景和阴影变化效果 */
    border: 2px solid transparent; /* 初始透明边框 */
    width: 100%;
    min-width: 200px;
    box-sizing: border-box;
    overflow: hidden;       /* 隐藏超出容器的内容 */
    white-space: nowrap;    /* 禁止文本换行 */
    text-overflow: ellipsis; /* 超出部分显示为省略号 */
}

/* 悬停效果 */
.section-item:hover {
    background-color: #D9D9D9; /* 悬停时的背景色 */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); /* 边框效果 */
    border-color: #D9D9D9; /* 悬停时边框颜色 */
}
/* 自定义section工具提示样式 */
.section-tooltip .section-tooltiptext {
    position: absolute;
    visibility: hidden;
    background-color: #23272A;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px; /* 小一些的内边距 */
    z-index: 1;
    top: calc( 50% + 10px);
    left: calc(50% + 10px);
    transform: translateY(-50%); /* 垂直居中 */
    white-space: nowrap; /* 防止文本换行 */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

/* 工具提示箭头样式 */
.section-tooltip .section-tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* 箭头位于弹框的左侧 */
    margin-top: -5px; /* 向上移动，使箭头垂直居中 */
    border-width: 5px;
    border-style: solid;
    border-color: transparent #23272A transparent transparent;
}

.section-tooltip:hover .section-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.selected-channel {
    position: relative;  /* 为伪元素定位做准备 */
    border: 3px solid #444791;
    border-radius: 20%;
    background-color: #BCBCBF;
}

.selected-channel-icon {
    /* 这里复制您的悬停时图标样式 */
    max-width: 100%; /* 限制图标宽度，保证不溢出容器 */
    max-height: 100%; /* 限制图标高度，保证不溢出容器 */
    border-radius: 20%; /* 图标初始为圆形 */
}
.create-section-btn {
    padding: 8px 12px; /* Smaller padding to reduce size */
    background-color: #444791; /* Or any color you wish */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
    display: block; /* To make it a block-level element */
    margin: 10px 0 10px 10px; /* Top and bottom margin 10px, left margin 10px to move it left, right margin 0 */
    text-align: center;
}

.create-section-btn:hover {
    background-color: #373759; /* Slightly darker on hover */
}

.home-link {
    margin-right: auto; /* 保证链接和logo保持在左侧，而用户信息在右侧 */
    margin-top: 5px;
    margin-left: 20px; /* 与logo之间的间隙 */
    color: white; /* 链接颜色 */
    text-decoration: none; /* 去除下划线 */
    font-size: 15px; /* 字体大小 */
}

.home-link:hover {
    text-decoration: underline; /* 鼠标悬浮时添加下划线，增加交互性 */
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 水平居中 */
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 58px);
    -ms-overflow-style: none;  /* 对于IE和Edge浏览器 */
    scrollbar-width: none;
}

.notice-box {
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 560px;
    min-height: 400px;
    height: 70%;
    border: 2px solid black;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 150px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.notice-box p {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
}

.notice-box h3 {
    margin: 7px 0; /* 添加一些间距 */
    font-size: 20px;
    font-family: 'Protest Strike', cursive;
}

.tip-section {
    margin-top: 20px; /* 为每个提示部分添加更多的顶部间距 */
}

/* 滚动条的整体样式 */
.notice-box::-webkit-scrollbar {
    width: 5px;

}

/* 滚动条轨道的样式 */
.notice-box::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* 滚动条滑块的样式 */
.notice-box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* 当鼠标悬停在滚动条滑块上时的样式 */
.notice-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 当滚动条滑块被点击时的样式 */
.notice-box::-webkit-scrollbar-thumb:active {
    background: #333;
}

.description-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 20px;
    width: 600px;
    height: 150px;
    border: 2px solid black;
}

.channel-image {
    width: 100px;
    height: 100px;
    border-radius: 35%;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 10px;
}


.c-name {
    margin-top: 10px;
    margin-bottom: 0;
    width: 450px;
    height: 80px;
    word-break: break-all;
    overflow-wrap: break-word;
    border-bottom: black solid 2px;
}
.pin {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 450px;
    height: 20px;
    overflow-wrap: break-word;
}

ul li strong {
    list-style: inside; /* 确保项目符号在li元素内部，以便颜色应用 */
    font-family: 'Protest Strike', cursive;
    font-style: normal;

}
ul li p {
    margin-top: 2px;
    margin-bottom: 5px;
}

</style>
{% endblock styles %}

{% block home %}
<a href="{% url 'teacher' %}" class="home-link">Home</a>
{% endblock home %}

{% block channel %}
    {% for channel in channels %}
    <div class="channel-icon-container {% if channel.id == current_channel.id %}selected-channel{% endif %}" data-channel-id="{{ channel.id }}">
        <img src="{{ channel.image.url }}" alt="" class="channel-icon {% if channel.id == current_channel.id %}selected-channel-icon{% endif %}" onclick="location.href='{% url 'channel-detail' channel.id %}'">
        <span class="tooltip">{{ channel.name }}</span>
    </div>
    {% endfor %}
{% endblock %}
{% block content %}
<div class="section-nav">
    <div class="pin-code-display">
        Pin code: {{ current_channel.pin_code }}
        <button onclick="location.href='{% url 'create-section' current_channel.id %}'" class="create-section-btn">Create Section</button>
    </div>
    {% block section %}
    <div class="section-block">
    {% for section in sections %}
      <div class="section-tooltip">
        <a href="{% url 'section' channel_id=section.channel.id section_id=section.id %}" class="section-item">
          #&nbsp;&nbsp;&nbsp; {{ section.title }}
        </a>
        <span class="section-tooltiptext">{{ section.title }}</span>
      </div>
    {% endfor %}
    </div>
    {% endblock%}
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        // 获取所有的.section-tooltip元素
        var sectionTooltips = document.querySelectorAll('.section-tooltip');

        sectionTooltips.forEach(function(sectionTooltip) {
            var tooltipText = sectionTooltip.querySelector('.section-tooltiptext');
            var sectionItem = sectionTooltip.querySelector('.section-item');
            var hoverTimeout; // 用于设置悬停的延时

            sectionItem.addEventListener('mouseenter', function(e) {
                // 清除之前的延时（如果有）
                tooltipText.style.visibility = 'hidden';
                clearTimeout(hoverTimeout);

                // 设置新的延时
                hoverTimeout = setTimeout(function() {
                    var itemRect = sectionItem.getBoundingClientRect();
                    // 计算.tooltiptext的垂直中心位置，使其垂直居中于.section-item
                    var tooltipVerticalCenter = itemRect.top + (itemRect.height / 2) - (tooltipText.offsetHeight / 2) + 13;
                    // 设置.tooltiptext的位置，使其右侧紧贴.section-item的右侧，并留出一定间隙
                    tooltipText.style.top = `${tooltipVerticalCenter}px`;
                    tooltipText.style.left = `${itemRect.right - 50}px`; // 根据需要调整间隙大小
                    tooltipText.style.visibility = 'visible';
                }, 1000); // 延迟2秒显示.tooltiptext
            });

            sectionItem.addEventListener('mouseleave', function(e) {
                // 清除悬停的延时
                clearTimeout(hoverTimeout);
                // 马上隐藏.tooltiptext
                tooltipText.style.visibility = 'hidden';
            });
        });
    });
</script>
{% endblock %}

{% block channel_info %}
<div class="top-section">
    <div class="description-box">
        <div class="description-left">
            <img src= "{{ current_channel.image.url }}" alt="Channel Image" class="channel-image">
        </div>
        <div class="channel-info">
            <h2 class="c-name">{{ current_channel.name }}</h2>
            <h2 class="pin">Pin Code: {{ current_channel.pin_code }}</h2>
        </div>
    </div>
    <div class="notice-box">
        <p><strong>The information below will show you how to use and manage your feedback channel:</strong></p>

        <div class="tip-section">
            <h3>Create section for feedback channel</h3>
            <p><strong>A section usually represents a lecture, a quiz, an exam, etc</strong>. Creating multiple sections can help
                you collect feedback on various parts of the course. If you want to create a section, <strong>click the "Create Section" button at the top left</strong>.</p>
        </div>

        <div class="tip-section">
            <h3>Access designated Section page</h3>
            <p>Select the section which you want to access in the section column on the left, click on it, then you can access the specified section.</p>
        </div>

        <div class="tip-section">
            <h3>What you can do in the section page?</h3>
            <ul>
                <li><strong>Modify or delete sections</strong>
                    <p>- Click the "Edit section" or "Delete section" button can modify or delete current section.
                    </p>
                </li>
                <li><strong>View Ratings</strong>
                    <p>- The top right part is the ratings box, where you can see the average score of the current section,
                        the number of raters and the percentage of each rating.
                    </p>
                </li>
                <li><strong>View feedback comment</strong>
                    <p>- The bottom left part is the comment box, where you can see the feedback comments that students have
                        left for the current section.
                    </p>
                    <p>
                       - By clicking on the reply icon, you can provide feedback for the comment, and you can edit or delete
                        the reply at any time! (If you want to delete a reply, just leaving it blank when modifying it.)
                    </p>
                    <p>
                       - By clicking on the reply icon, you can provide feedback for the comment, and you can edit or delete
                        the reply at any time! (If you want to delete a reply, just leaving it blank when modifying it.)
                    </p>
                    <p>
                       - Click the "Mark as Seen" button can mark the comment as read. Combined with sorting, it can help you locate
                        unread comments faster.
                    </p>
                </li>
                <li><strong>Keyword summary</strong>
                    <p>
                        - The bottom right part is the keyword summary box, this box will show you the keywords that appear more frequently
                        and the number of times it occurs. Combined with the search box, which can help you quickly find the feedback that
                        occurs more frequently.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}