{% extends 'channel_detail.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<style>
.top-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 58px);
    justify-content: center;
    -ms-overflow-style: none;  /* 对于IE和Edge浏览器 */
    scrollbar-width: none;
}

.comment-section::-webkit-scrollbar {
    width: 5px;

}
/* 滚动条轨道的样式 */
.comment-section::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* 滚动条滑块的样式 */
.comment-section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* 当鼠标悬停在滚动条滑块上时的样式 */
.comment-section::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 当滚动条滑块被点击时的样式 */
.comment-section::-webkit-scrollbar-thumb:active {
    background: #333;
}


.description-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 20px;
    width: 600px;
    min-height: 200px;
    height: 20%;
    border: 2px solid black;
}

.channel-image {
    width: 100px;
    height: 100px;
    border-radius: 35%;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 10px;
}


.channel-name {
    margin-top: 10px;
    margin-bottom: 0;
    width: 450px;
    height: 50px;
    word-break: break-all;
    overflow-wrap: break-word;
}

.section-title {
    margin-bottom: 10px;
    width: 300px;
    height: 15px;
}

.section-description{
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word;
    width: 400px;
    height: 70px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
}

/* 滚动条的整体样式 */
.section-description::-webkit-scrollbar {
    width: 5px;

}

/* 滚动条轨道的样式 */
.section-description::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* 滚动条滑块的样式 */
.section-description::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* 当鼠标悬停在滚动条滑块上时的样式 */
.section-description::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 当滚动条滑块被点击时的样式 */
.section-description::-webkit-scrollbar-thumb:active {
    background: #333;
}

.rating-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 20px;
    width: 520px;
    min-height: 200px;
    height: 20%;
    border: 2px solid black;
    float: right;
    overflow: hidden;
}
.rating-overview{
    margin-left: 5px;
    margin-top: 5px;
}

.circle-rating {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #59599B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
#total-rating {
    color: white;
}
.rating-participants{
    text-align: center;
}


.right-part {
    margin-left: 20px;
    margin-top: 10px;
}

.rating-statistics {
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    padding: 5px;
    border-radius: 10px;
    width: 340px;
}

.rating-stat {
    display: flex;
    align-items: center;
    margin-bottom: 3px; /* 添加一些间距 */
    margin-top: 3px;
    justify-content: flex-end;
}

.rating-stat .fas.fa-star {
    color: #FFD700; /* 星星的颜色 */
    margin-right: 2px;
}

.rating-bar {
    height: 10px; /* 长条的高度 */
    width:200px;
    background-color: #BCBCBF; /* 长条的背景颜色 */
    margin-left: 5px; /* 与星星的间距 */
    border-radius: 5px; /* 圆角 */
}

.left-bar-1, .left-bar-2, .left-bar-3,.left-bar-4,.left-bar-5 {
    height: 100%;
    background-color: #59599B;
    border-radius: 5px;
}
.left-bar-1 {
    width: {{ current_section.one_star_percentage }}%;
}
.left-bar-2 {
    width: {{ current_section.two_star_percentage }}%;
}
.left-bar-3 {
    width: {{ current_section.three_star_percentage }}%;
}
.left-bar-4 {
    width: {{ current_section.four_star_percentage }}%;
}
.left-bar-5 {
    width: {{ current_section.five_star_percentage }}%;
}
.rating-heading h3 {
    font-size: 1.2em; /* 调整大小 */
    color: #000000; /* 调整颜色，这里用了之前用于按钮的颜色 */
    margin-bottom: 5px; /* 下方间距 */
    margin-top: 5px;
}

.rating-buttons .fa-star {
    font-size: 1.5em; /* 投票星星的大小 */
    margin-right: 10px; /* 星星之间的间距 */
    cursor: pointer; /* 鼠标悬停时的手型 */
}

.rating-buttons .fa-star:hover {
    color: #FFD700; /* 悬停时的颜色，金色 */
}
.percentage-count {
    margin-left: 2px;
    width: 30px;
    font-size: 0.5em;
}

.highlighted {
    color: #FFD700; /* Change to your preferred highlight color */
}

.comment-section {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
    width: 800px;
    height: 66%;
    min-height: 400px;
    border: 2px solid black;
    overflow-y: auto;
}

/* 在这里插入CSS样式代码 */
.comment {
    display: flex;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 95%;
    overflow: hidden;
}

.user-image {
    border: 2px solid #000000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.comment-main {
    flex-grow: 1;
    padding: 10px;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 5px;
    position: relative;
}

.comment-username {
    font-weight: bold; /* 加粗用户名 */
    margin-top: 1px;
    margin-bottom: 5px; /* 在用户名和评论文本之间添加一些间隔 */
    /* 添加其他样式来适应您的设计 */
}

.comment-text {
    white-space: normal; /* 允许文本在需要时换行 */
    word-break: break-all;
    overflow-wrap: break-word;
    margin-bottom: 30px;
}

.comment-actions {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.like-count {
    margin-right: 5px;
    margin-left: -5px;
    font-weight: bold;
    color: #59599B;
    cursor: default;
}

.likes .fa-thumbs-up {
    color: #000000; /* 更改图标颜色 */
    margin-right: 5px; /* 在图标和数字之间添加一些间距 */
}

.read-indicator, .mark-as-read-btn, .reply-btn {
    cursor: pointer;
    margin-left: 10px;
}
.read-indicator {
    cursor: default;
}

.reply {
    display: flex;
    background-color: #E0E0FF;
    margin-top: -20px;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #000000;
    word-break: break-all;
    overflow-wrap: break-word;
}

.owner-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #f0f0f0;
}
#sort-form input[type="submit"] {
    display: none; /* 隐藏提交按钮 */
}

.edit-info-btn, .delete-section-btn {
    display: block; /* 或者使用 inline-block，视需要而定 */
    width: auto; /* 按钮宽度，可以根据需要设置为特定值或百分比 */
    min-width: 112px;
    padding: 5px 10px; /* 按钮内边距 */
    margin-top: 7px; /* 上外边距，根据需要调整 */
    margin-left: 8px;
    background-color: #444791; /* 按钮背景颜色 */
    color: white; /* 文本颜色 */
    text-align: center; /* 文本居中 */
    border: none; /* 无边框 */
    border-radius: 3px; /* 圆角 */
    cursor: pointer; /* 鼠标样式 */
    font-weight: bold; /* 字体加粗 */
    /* 其他样式... */
}
.delete-section-btn {
    background-color: red;
}
.edit-info-btn:hover {
    background-color: #373759;
}

.delete-section-btn:hover {
    background-color: #cc0000;
}
.selected {
    background-color: #D9D9D9; /* 选中时的背景色 */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); /* 内阴影效果 */
    border-color: #D9D9D9; /* 悬停时边框颜色 */
}
/* 搜索和排序的包裹容器 */
.search-sort-container {
    display: flex;
    align-items: center; /* 垂直居中 */
    padding: 10px;
    margin-left: 10px;
}

/* 调整排序表单的样式 */
#sort-form {
    display: flex;
    align-items: center; /* 垂直居中 */
    margin-right: 5px;
}

/* 调整搜索表单的样式 */
.search-form {
    display: flex;
    align-items: center; /* 垂直居中 */
}

.search-form input[type="text"] {
    padding: 5px 10px;
    font-size: 14px; /* 字体大小调小 */
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 200px; /* 调整输入框宽度 */
    margin-right: 10px; /* 输入框和按钮之间的空间 */
}

.search-form button {
    padding: 5px 10px;
    font-size: 14px; /* 字体大小调小 */
    background-color: #444791;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px; /* 调整按钮宽度 */
    text-align: center;
}

.search-form button:hover {
    background-color: #373759; /* 按钮悬停时颜色稍微变深 */
}

.keyword-summary {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 320px;
    height: 66%;
    min-height: 400px;
    border: 2px solid black;
    overflow-x: auto;
    overflow-y: auto;
}

.keyword-summary::-webkit-scrollbar {
    width: 5px;

}
/* 滚动条轨道的样式 */
.keyword-summary::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* 滚动条滑块的样式 */
.keyword-summary::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* 当鼠标悬停在滚动条滑块上时的样式 */
.keyword-summary::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 当滚动条滑块被点击时的样式 */
.keyword-summary::-webkit-scrollbar-thumb:active {
    background: #333;
}


.keyword-summary h3 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 1px;
}

.keyword-summary ul {
    list-style: none;
    padding: 0;
    margin: 5px;
}

.keyword-summary ul li {
    padding: 5px 0;
    border-bottom: 1px solid #59599B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.keyword-summary .likes {
    background-color: #ffd700;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.keyword-summary .keyword {
    font-weight: bold;
}

.no-comments {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}
</style>


{% endblock %}

{% block section %}
<div class="section-block">
{% for section in sections %}
    <div class="section-tooltip">
        <a href="{% url 'section' channel_id=section.channel.id section_id=section.id %}" class="section-item {% if current_section.id == section.id %}selected{% endif %}">
            #&nbsp;&nbsp;&nbsp; {{ section.title }}
        </a>
        <span class="section-tooltiptext">{{ section.title }}</span>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block content %}
{{ block.super}}
<div class="top-section">
    <div class="description-box">
        <div class="description-left">
            <img src= "{{ current_channel.image.url }}" alt="Channel Image" class="channel-image">
            <div class="button-container">
                <button type="button" class="edit-info-btn" onclick="location.href='{% url 'edit-section' channel_id=current_channel.id section_id=current_section.id %}'">Edit Section</button>
                <button type="button" class="delete-section-btn" onclick="confirmDelete({{ current_section.id }})">Delete Section</button>
            </div>
        </div>
        <div class="channel-info">
            <h2 class="channel-name">{{ current_channel.name }}</h2>
            <p class="section-title"># &nbsp;{{ current_section.title }}</p>
            <p class="section-description">{{ current_section.description }}</p>
        </div>
    </div>
    <div class="rating-box">
        <div class="rating-overview">
            <div class="circle-rating">
                <span id="total-rating">{{ current_section.total_rating}}</span>
            </div>
            <div class="rating-participants">
                <span id="participants-count">{{ current_section.ratings_count}}</span> participants
            </div>
        </div>
        <div class="right-part">
            <div class="rating-statistics">
                Rating distribution:
                <div class="rating-stat" data-star="5">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="rating-bar">
                        <div class="left-bar-5"></div>
                    </div>
                    <div class="percentage-count">
                        <span id="star-5-count">{{ current_section.five_star_percentage }}</span>
                    </div>

                </div>
                <div class="rating-stat" data-star="4">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="rating-bar">
                        <div class="left-bar-4"></div>
                    </div>
                    <div class="percentage-count">
                        <span id="star-4-count">{{ current_section.four_star_percentage }}</span>
                    </div>

                </div>
                <div class="rating-stat" data-star="3">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="rating-bar">
                        <div class="left-bar-3"></div>
                    </div>
                    <div class="percentage-count">
                        <span id="star-3-count">{{ current_section.three_star_percentage }}</span>
                    </div>

                </div>
                <div class="rating-stat" data-star="2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <div class="rating-bar">
                        <div class="left-bar-2"></div>
                    </div>
                    <div class="percentage-count">
                        <span id="star-2-count">{{ current_section.two_star_percentage }}</span>
                    </div>

                </div>
                <div class="rating-stat" data-star="1">
                    <i class="fas fa-star"></i>
                    <div class="rating-bar">
                        <div class="left-bar-1"></div>
                    </div>
                    <div class="percentage-count">
                        <span id="star-1-count">{{ current_section.one_star_percentage }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="comment-section">
        <div class="search-sort-container">
        <form id="sort-form" method="get">
            <label class="sort-option">
                <input type="radio" name="sort" value="read" {% if request.GET.sort == "read" or not request.GET.sort %}checked{% endif %}>
                Sort by seen
            </label>
            <label class="sort-option">
                <input type="radio" name="sort" value="vote" {% if request.GET.sort == "vote" %}checked{% endif %}>
                Sort by vote
            </label>
            <input type="hidden" name="search" value="{{ request.GET.search|default:'' }}">
            <input type="submit" value="Sort">
        </form>
        <form method="get" action="" class="search-form">
            <input type="text" name="search" placeholder="Search comments..." value="{{ request.GET.search|default:'' }}">
            <!-- 保存排序参数的隐藏字段 -->
            <input type="hidden" name="sort" value="{{ request.GET.sort|default:'read' }}">
            <button type="submit">Search</button>
        </form>
        </div>
    {% if comments.exists %}
        {% for comment in comments %}
        <div class="comment">
            <img src="{% if comment.is_anonymous and comment.user != request.user %}/media/img/user.png{% else %}{{ comment.user.userinfo.user_image.url }}{% endif %}" alt="User Image" class="user-image">
            <div class="comment-main" {% if comment.read %}style="border-color: #444791;"{% endif %}>
                <p class="comment-username">
                    {% if comment.is_anonymous %}
                        {% if comment.user == request.user %}
                            You (Anonymous)
                        {% else %}
                            Anonymous
                        {% endif %}
                    {% else %}
                        {% if comment.user == request.user %}
                            You
                        {% else %}
                            {{ comment.user.userinfo.profile_name }}
                        {% endif %}
                    {% endif %}
                </p>
                <p class="comment-text">{{ comment.text }}</p>
                <div class="comment-actions">
                    <div class="likes">
                        <i class="fas fa-thumbs-up"></i>
                        <span class="like-count">{{ comment.likes }}</span>
                    </div>
                    {% if comment.read %}
                        <i class="fas fa-eye read-indicator"></i>
                    {% else %}
                        <button class="mark-as-read-btn" data-comment-id="{{ comment.id }}">Mark as Seen</button>
                    {% endif %}
                    <i class="fas fa-reply reply-btn" data-comment-id="{{ comment.id }}"></i>
                </div>
                <div class="reply" {% if not comment.reply %}style="display:none;"{% endif %}>
                    <img src="{{ comment.section.channel.user.userinfo.user_image.url }}" alt="Owner Image" class="owner-image">
                    <p class="reply-content">{{ comment.reply }}</p>
                </div>
                <div class="reply-box" style="display:none;">
                    <textarea class="reply-text">{{ comment.reply }}</textarea>
                    <button class="submit-reply" data-comment-id="{{ comment.id }}">Submit</button>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="no-comments">No comment yet.</p>
    {% endif %}
    </div>
    <div class="keyword-summary">
        <h3>Keyword summary</h3>
        <ul>
            {% for keyword, freq in top_keywords %}
                <li>
                    <span class="keyword">{{ keyword }}</span>
                    <span class="likes">{{ freq }}</span>
                </li>
            {% empty %}
                <li>No keywords found.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    function confirmDelete(sectionId) {
        var confirmAction = confirm("Are you sure you want to delete this section? This action cannot be undone.");
        if (confirmAction) {
            // User pressed OK, proceed with the deletion
            window.location.href = `/delete-section/${sectionId}/`; // Update with your actual URL pattern
        } else {
            // User pressed Cancel, do nothing
        }
    }

    document.querySelectorAll('#sort-form input[type="radio"]').forEach(radio => {
        radio.addEventListener('change', () => {
            document.getElementById('sort-form').submit();
        });
    });

    document.querySelectorAll('.mark-as-read-btn').forEach(button => {
        button.addEventListener('click', function() {
            const commentId = this.dataset.commentId;
            const commentDiv = this.closest('.comment-main');
            fetch(`/mark-comment-as-read/${commentId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ read: true })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // 创建已读图标
                    const readIndicator = document.createElement('i');
                    readIndicator.classList.add('fas', 'fa-eye', 'read-indicator');
                    // 替换标记为已读按钮为已读图标
                    button.replaceWith(readIndicator);
                    // 更新边框颜色
                    commentDiv.style.borderColor = '#444791';
                }
            });
        });
    });

    // 为回复按钮添加事件监听器

    document.querySelectorAll('.reply-btn').forEach(button => {
        button.addEventListener('click', function() {
            const commentDiv = this.closest('.comment');
            const replyBox = commentDiv.querySelector('.reply-box');
            replyBox.style.display = 'block';
        });
    });
    // 提交回复的函数

    document.querySelectorAll('.submit-reply').forEach(button => {
        button.addEventListener('click', function() {
            const commentDiv = this.closest('.comment');
            const replyText = commentDiv.querySelector('.reply-text').value;
            console.log("Reply text:", replyText);
            const commentId = this.dataset.commentId;
            console.log("id:", commentId);
            fetch(`/update-comment-reply/${commentId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ reply: replyText }),
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response data:", data);
                if (data.success) {
                    const replyContentDiv = commentDiv.querySelector('.reply-content');
                    const replyDiv = commentDiv.querySelector('.reply');
                    replyContentDiv.textContent = replyText;
                    if (replyText.trim() != '') {
                        replyDiv.style.display = ''; // 如果有回复内容，显示回复容器
                    }else {
                        replyDiv.style.display = 'none';
                    }
                    commentDiv.querySelector('.reply-box').style.display = 'none';
                }
            });
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>







{% endblock %}

{% block channel_info %}
{% endblock %}